<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
<!--     <div style="background: #00CC99; width: calc(100% - 80px); position: absolute; top: 20px; left: 40px; height: 150px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
  width: calc(100% - 120px);
  margin: 40px auto;
    </div> -->

    <div>
      <p>We attempted to make a reservation for you, but an error occured.<br><br>
        Click <%= link_to "here", @url %> to make your reservation!
      </p>
    </div>
  </body>
</html>
