<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    We attempted to make a reservation for you, but an error occured.
    <p>Click <%= link_to "here", @url %> to make your reservation!</p>
  </body>
</html>