<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <div>
      <p>We've booked your reservation for <%= @event.name %>. We'll let you know as your reservation gets updated.
      </p>
    </div>
  </body>
</html>
