@import '../variables';

/** Buttons and Form Elements **/

.btn {
  border-radius: 5px;
  color: white;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.blue-btn {
  background: $blue;
}

.pull-bottom-btn {
  height: 40px;
  line-height: 40px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.turq-btn {
  background: $turq;
}

.turq-btn:hover {
  background: white;
  border: 1px solid $turq;
  color: $turq;
}
.blue-btn:hover {
  background: white;
  border: 1px solid $blue;
  color: $blue;
}
/* .btn are square in mobile */

.btn-rnd {
  border-radius: 5px;
  color: white;
  cursor: pointer;
  text-align: center;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input, select {
    -webkit-appearance: none;
}

div, input {
  -webkit-transition: background .5s;
}

/** Backgrounds **/

.white-back {
  background: white;
}

.gray-back {
  background: $light-grey;
}



.opaque {
  background: rgba(255,255,255,.9);
}

.hidden {
  display: none;
}


/** Text Formatting **/

a {
  text-decoration: none;
  color: $black;
}

.no-break {
  word-break: normal;
}

.bold {
  font-weight: 700;
}

.main-text {
  font-size: 30px;
}

.medium-text {
  font-size: 16px;
}

.mobile-text{
  font-size: 14px;
}

.desk-text{
  font-size: 16px;
}

.sub-text {
  font-size: 14px;
  line-height: 1.2;
}

.text-left {
  text-align: left;
}

.text-middle {
  text-align: center;
}

.text-right {
  text-align: right;
}

.mobile {
  display: none;
}

.green {
  color: $green;
}

.blue {
  color: $blue
}

.red {
  color: $red;
}



/***********  Media Queries *******************/

@media (min-width: 1024px) {
  .gray-back.generic {
    background: white;
  }
}


/************** elements with the class mobile shown, no-mobile are hidden  *****************/

@media (max-width: 1023px) {
  .no-mobile {
    display: none;
  }
  body {
    font-weight: 300;
    .main-text {
      font-size: 18px;
      font-weight: 300;
    }
    .sub-text {
      font-weight: 300;
      font-size: 12px;
    }
    .btn {
      border-radius: 0px;
    }
    .mobile.hidden {
      display: none;
    }
    .mobile {
      display: block;
    }
  }
}

@media (min-width: 1024px) {
  body {
    .pull-bottom-btn {
      position: static;
      width: 20vw;
      margin: 40px auto;
    }
  }
}
