<div id="activation-container">
	<div class="activation-text">
		We’re currently in Beta, if you received an invite, please enter your email address below:
	</div>

	<%= form_tag activation_path, id: 'activation-form', remote: true do %>
		<%= text_field_tag :activation_email, nil, :class => "activation-email", placeholder: 'Enter Email' %>
		<%= submit_tag 'Submit', :class => "activation-email btn green-btn" %>
	<% end %>

	<div class="failure-text hidden act-text">
		Thanks for signing up, we'll let you know when we're ready to take you off the waitlist.
	</div>
	<div class="success-text hidden act-text">
		Thanks for signing up, we'll let you know when we're ready to take you off the waitlist.
	</div>
</div>