<div class="black-overlay">
	<div class="activation-modal">
		<div class="activation-message full-white-block">
			Congrats!<br><span class="sub-text">Your poll has been sent</span>
		</div>
		<div class="btn activation-action" id="take-poll">Take the Poll</div>
		<%= link_to dashboard_path do %>
			<div class="btn activation-action" id="return-home">Do it Later</div>
		<% end %>
	</div>
	

</div>