<div class="blur-container">
  <div class="blur-image">
  </div>
  <div class="glass"></div>
</div>


<div id="landing-header">
  <%= link_to '/' do %>
    <%= image_tag 'dinnerpoll.svg', id: 'landing-logo' %>
  <% end %>
  <%= link_to '/auth/facebook' do %>
    <div class="header-link no-mobile">Connect with Facebook</div>
  <% end %>
  <%= link_to 'http://www.instagator.com' do  %>
    <div class="header-link no-mobile">instagator</div>
  <% end %>
</div>

<div id="mid-container">
  <div class="mid-section">
    <div class="title-landing-text" id="fade-1">Planning a group dinner?</div>
        <div class="showcase-subtext">We'll take care of everything.</div>
    <div id="section-footer">SCROLL DOWN TO SEE HOW</div>
  </div>
</div>

<div id="showcase-container">
  <div class="mid-section last">
    <%= image_tag 'iphone.png', id: "iphone-1" %>
    <div id="phone-info">
      <div class="phone-info-item">
        <div class="info-item-name">Set your timing.</div>
        <div class="info-item-desc">We'll take care of the agonizing reservation cross check for you.</div>
      </div>
      <div class="phone-info-item">
        <div class="info-item-name">Pick your restaurants.</div>
        <div class="info-item-desc">Near, far, wherever you are.</div>
      </div>
      <div class="phone-info-item">
        <div class="info-item-name">Poll your friends.</div>
        <div class="info-item-desc">Your reservation will be updated as soon as people respond.</div>
      </div>
    </div>

    <div id="sit-back">Sit back. dinnerPoll will book your reservation for you.</div>
    <%= link_to '/auth/facebook' do %>
      <div id="get-started-button" class="btn blue-btn">Connect with Facebook to get started</div>
    <% end %>
  </div>
</div>

<div class="timeline-container">
  <div class="timeline-left">
      <div class="timeline-header left-side">Planning nowadays</div>
      <div class="timeline-content">
        <div class="timeline-text-container left-side">
          <div class="timeline-text">You, 4 friends, the new guy at the office, and your date decide to<br>go for dinner next week.</div>
          <div class="timeline-text">Send out an email: “Do you guys want to go to Burger Czar or PIzza Cabin?”</div>
          <div class="timeline-text">3 people give you straight answers. Everyone else says it depends on the<br>weather, the time, their horoscope. Joe doesn’t respond.</div>
          <div class="timeline-text">Give up and try a facebook event:<br>“Burger Czar or Pizza Cabin?”</div>
          <div class="timeline-text">New guy responds with “Yes.”<br>“…Excuse me?”</div>
          <div class="timeline-text">Decide to book Burger Czar</div>
          <div class="timeline-text">Turns out the restaurant doesn't have open tables for 7 at 6:00pm<br>…time to do it all again.</div>
          <div class="timeline-text">Email new details out</div>
          <div class="timeline-text">Luckily, everyone is okay with 7:00 pm instead.</div>
          <div class="timeline-text">Call restaurant to change reservation.</div>
          <div class="timeline-text">Wait, Joe forgot to respond.</div>
          <div class="timeline-text">The restaurant can’t fit the extra person</div>
          <div class="timeline-text">Dammit Joe.</div>
          <div class="timeline-text">End up meeting at local food truck instead.</div>
        </div>
        <div class="timeline-line-container">
          <div class="timeline-line-left"></div>
          <div class="timeline-dots"></div>
          <div class="timeline-dots"></div>
          <div class="timeline-dots"></div>
          <div class="timeline-dots"></div>
          <div class="timeline-dots"></div>
          <div class="timeline-dots"></div>
          <div class="timeline-dots"></div>
          <div class="timeline-dots"></div>
          <div class="timeline-dots"></div>
          <div class="timeline-dots"></div>
          <div class="timeline-dots"></div>
          <div class="timeline-dots"></div>
          <div class="timeline-dots"></div>
          <div class="timeline-dots"></div>
        </div>
      </div>
  </div>
  <div class="timeline-right">
    <div class="timeline-header right-side">Planning with Instagator</div>
    <div class="timeline-content">
      <div class="timeline-line-container">
        <div class="timeline-line-right"></div>
        <div class="timeline-dots"></div>
        <div class="timeline-dots"></div>
        <div class="timeline-dots"></div>
        <div class="timeline-dots"></div>
        <div class="timeline-dots"></div>
        <div class="timeline-dots"></div>
      </div>
      <div class="timeline-text-container right-side">
        <div class="timeline-text">You, 4 friends, the new guy at the office, and your date decide to<br>go for dinner next week.</div>
        <div class="timeline-text">Hop on Instagator and make a poll.</div>
        <div class="timeline-text">Straight shooters vote, the Maybe’s abstain.<br>Burger Czar is most popular.</div>
        <div class="timeline-text">The final vote gets made, a reservation is automatically booked.</div>
        <div class="timeline-text">Of course Joe forgot to RSVP, no big deal, he joins last minute and<br>instagator updates the reservation to Pizza Cabin which can fit everyone.</div>
        <div class="timeline-text">Dinner goes well, you impress your date, the new guy<br>looks up to you, and somehow you get a offered<br>promotion at work the next morning.</div>

        <%= link_to '/auth/facebook' do %>
          <div class="btn blue-btn" id="timeline-fb-btn">Connect with Facebook to get started</div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
	$(document).ready(function(){
		$('#main-header').css('display', 'none')
		$('body').addClass('landing')
	})
</script>
