<%= content_for :header do %>
	<%= image_tag 'cat.png', id: 'header-left', :class => "mobile" %>
	<div class="main-logo text">INSTAGATOR</div>
<% end %>

<div id="content-container" class="mobile-home">

<div id="mobile-title">
	<%= image_tag 'Check.svg', :class => "check-title-img" %> Static!
</div>

<div id="title-info">
	Static Text?
</div>

<%= image_tag 'appstore.svg', :class => "app-store" %>







<div id="logout">
	Log Out
</div>


</div>