<div id="poll-take-tutorial">
  <div class="tutorial-text">
    Vote on restaurant options and dinnerPoll will take care of the rest.
  </div>

  <div class="tutorial-text">
    Like the food? Close enough to walk? <span class="green">Upvote your preferences.</span>
  </div>

  <div class="tutorial-text">
    Bad timing? No Vegan Menu? <span class="red">Downvote to express your distaste.</span>
  </div>

  <div class="tutorial-text">
    …or you could <span class="blue">Abstain</span>, grab a drink, and let democracy and computers sort it out.
  </div>

  <div class="btn btn-rnd turq-btn" id="finish-tutorial">
    Got It
  </div>
</div>
