@import '../variables';

.simple-question-results {
	width: 100%;
	overflow: scroll;
}

.cell {
	height: 30px;
	width: 60px;
	margin: 1px;
	box-sizing: border-box;
	line-height: 30px;
	text-align: center;
	float: left;
	background: $border-grey;
	.cell-check {
		height: 20px;
		width: 20px;
		margin: 5px 0px;
	}
}

.cell.total, .cell.poll-taker-name.total {
	color: $green;
	background: #e5f9f4;
}

.simple-results-header {
	height: 30px;
	color: white;
	margin-left: 132px;
	margin-top: 10px;
	clear: left;
}

.simple-choice-body {
	margin: 10px;
	margin-top: 0px;
	float: left;
	clear: left;
	margin-left: 40px;
	.poll-taker-name {
		clear: left;
		background: $grey;
		color: white;
		width: 90px;
	}
}
.simple-voter {
	min-width: 100%;
	overflow-y: hidden;
	overflow-x: scroll;
}



.choice-header {
	background: $green;
	color: white;
	cursor: pointer;
}