@import '../variables';

body #content-container.simple-new-event {
	background: $light-grey;
	.pad-container {
		background: white;
		overflow-y: scroll; 
	}
	#simple-events-form {
		overflow-y: scroll;
	}
	#poll-creator {
		overflow: scroll;
		max-height: calc(100vh - 140px);
		background: $light-grey;
	}
}

#simple-events-form {
	height: calc(100% - 80px);
	width: 100%;
	overflow-x: hidden; 
}

.name-container {
	width: 100%;
	position: relative;

}

.picker-error {
	width: 100%;
	text-align: center;
	height: 40px;
	line-height: 40px;
}


.question-info-container .poll-field {
	cursor: pointer;
}

// body div.type-container {
// 	transition: all 0.25s ease-in-out 0s;
// }

#event_name {
	background: $light-grey;
}

.type-container {
	width: 100%;
	color: $dark-grey;
	background: white;
	z-index: 5;
}

#text-choice-picker {
	display: none;
	width: 100%;
	overflow-y: scroll;
	z-index: 5;
	background: white;
}

.date-picker-container {
	display: none;
	overflow: visible;
	z-index: 5;
	background: white;
}

.simple-vote .date-picker-container {
	display: block;
	.date-picker-header {
		margin-left: 10px;
		width: calc(100% - 10px);
	}
}

.date-picker-header {
	width: 100%;
	height: 40px;
	line-height: 40px;
}

#confirm-simple-event {
 background: white;
}

.question-info-container, .poll-field {
	position: relative;
	background: white;
	.type-pic {
		position: absolute;
		height: 30px;
		width: 30px;
		right: 50px;
		top: 15px;
		cursor: pointer;
	}
}

.active {
	.poll-field {
		border: none;
	}
}

.text-choice {
	width: 100%;
	height: 40px;
	margin: 10px 0px;
	position: relative;
	.add-choice {
		display: none;
	}
}

.text-choice-num {
	float: left;
	height: 100%;
	line-height: 40px;
	width: 40px;
}

.text-choice-input {
	float: left;
	font-size: 16px;
	width: calc(100% - 80px);
	height: 100%;
	border: 1px solid $border-grey;
	padding: 0 0 0 15px;
	box-sizing: border-box;
	cursor: move;
}

.placeholder {
	cursor: pointer;
	.text-choice-input {
		border: none;
		background: $border-grey;
		cursor: pointer;
	}
	.cancel-choice {
		display: none;
	}
	.add-choice {
		display: block;
	}
}

.placeholder:hover {
	cursor: pointer;
}

.text-choice-icon {
	margin: 10px;
	height: 20px;
	width: 20px;
	float: right;
	cursor: pointer;
}


.type-header {
	width: 100%;
	text-align: left;
	box-sizing: border-box;
	padding: 20px 10px;
}

.type {
	width: 49%;
	text-align: center;
	margin: 20px 0px;
	display: inline-block;
	cursor: pointer;
}
.type-pic {
	width: 100px;
	height: auto;
}

.type-label {
	margin: 20px 0px;
	color: $turq;
}

#add-another-question {
	line-height: 40px;
	cursor: pointer;
	display: none;
	background: white;
}

#datepicker {
	.datepicker {
		position: static;
		border: none;
		width: 100%;
	}
}

@media (max-width: 1023px) {
	body {
		.text-choice {
			width: calc(100% - 20px);
			margin-left: 10px;
		}
		#add-another-question {
			line-height: 22px;
		}
		#grey-blocker {
			height: 44px;
		}
		.question-info-container, .poll-field {
			.type-pic {
				height: 20px;
				width: 20px;
			}
		}
		.poll-field{
			height: 44px;
			line-height: 44px;
		}
		.type-pic{
			height:  50px;
			width: auto;
		}
		.poll-field, .type-header, .type-label{
			font-size: 14px;
		}
	}
}
