@import '../variables';


body .poll-field.question-name {
	cursor: pointer;
	position: relative;
	box-sizing: border-box;
	padding-left: 40px;
}

.simple-vote {
	.simple-choice .type-pic {
		right: 10px;
	}
}

.results-link {
	position: absolute;
	right: 0px;
	top: 10px;
	color: $blue;
	cursor: pointer;
}

.voted-indicator {
	display: none;
	position: absolute;
	height: 40px;
	line-height: 60px;
	right: 80px;
	top: 0px;
	color: $green;
}

.question-name.voted {
	.voted-indicator {
		display: block;
	}
	path, rect {
		fill: $green;
	}
}

.simple-voter {
	width: 100%;
	display: none;
	border-bottom: 1px solid $border-grey;
	.text-choice {
		padding-left: 10px;
		width: calc(100% - 20px);
	}
	.text-choice-input {
		line-height: 40px;
		box-sizing: border-box;
		padding-left: 20px; 
		cursor: pointer;
	}
	.text-choice-icon.green {
		display: none;
	}
	.text-choice-icon.grey {
		display: block;
	} 
	.text-choice.selected {
		.text-choice-input {
			background: $green;
			color: white;
			border: none;
		}
		.text-choice-icon.grey {
			display: none;
		}
		.text-choice-icon.green {
			display: block;
		}
	}
	.datepicker {
		position: static;
		//margin-left: calc(50% - 150px);
		border: none;
		width: 100%;
	}
}

.simple-choice {
	.question-num {
		position: absolute;
		line-height: 60px;
		height: 100%;
		width: 40px;
		left: 0;
		top: 0;
	}
}

@media (max-width: 1023px) {
	body {
		.voted-indicator {
			line-height: 40px;
			right: 40px;
		}
		.simple-vote .poll-field.question-name {
	 		padding-left: 10px;
	 		height: auto;
	 		min-height: 40px;
	 		padding-right: 80px;
	 	}
	}
}


