@import 'variables';

#activation-container {
	width: 100%;
	height: 100%;
	position: fixed;
	background: $dark-grey;
}

.activation-text {
	width: calc(100% - 40px);
	margin-top: 30vh;
	margin-left: 20px; 
	text-align: center;
	color: $green;
}

.activation-email {
	width: calc(100% - 40px);
	height: 40px;
	text-align: center;
	color: $dark-grey;
	background: white;
	border-radius: 5px;
	margin: 0px 20px;
	margin-top: 20px;
	font-size: 16px;
	border: none;
}

@media (min-width: 1024px) {
	.activation-email {
		max-width: 480px;
		margin-left: calc(50% - 240px);
	}

}