@import 'variables';

/****** Main Elements ******/

#welcome-icon {
  height: 100px;
  width: 100px;
  display: block;
  margin: 0 auto;
  padding: 10px 0px;
}

#welcome-text {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  padding-bottom: 20px;
}

#create-poll {
	margin-bottom: $mg;
	height: 44px;
	line-height: 44px;
	margin-top: $mg;
	position: static;
}

@media (min-width: 1024px) {
	body {
		#cancel-form{
			line-height: 60px;
			left: calc(50% - 360px);
		}
		#create-poll {
			margin-top: 20px; 
      height: 40px;
      line-height: 40px;
		}
    #create-poll.tutorial {
      width: 300px;
      margin: 0 auto;
    }
	}
}

/******** After Welcome Elements ********/

#events {
  padding: 0px 40px;
  box-sizing: border-box;
}

div.event {
	height: 120px;
	text-align: left;
	cursor: pointer;
	position: relative;
	box-sizing: border-box;
	padding: $dg;
	border-bottom: 1px solid $border-grey;
}

.event-line-text {
  width: auto;
  line-height: 20px;
  max-width: calc(100% - 90px);
}

.event-name {
}

.event-voters {
  position: absolute;
  bottom: $dg;
  right: $dg;
}

.event-line-text.bottom-line {
  position: absolute;
  bottom: $dg;
  width: auto;
  left: $dg;
}

.event-arrow {
  position: absolute;
  right: 20px;
  top: 45px;
  height: 30px;
}

.event-icon {
  height: 15px;
  width: 15px;
}

.event-service-icon {
  position: absolute;
  right: 70px; 
  top: 46.5px; 
  height: 25px
}

#event_threshold {
  width: 100%;
  height: 40px;
  border: none;
  background: white;
  font-size: 16px;
  box-sizing: border-box;
  padding-left: 10px;
  color: $grey;
  font-weight: 400;
}

@media (max-width: 1023px) {
  body {
    div.event{
      padding: 10px $mg;
      margin-bottom: 8px;
      height: 100px;
    }
    .event-arrow{
      right: 15px;
      top: 33px;
    }
    .event-service-icon {
      top: 36px;
      right: 60px;
    }
    .event-voters {
      bottom: 10px;
      right: $mg;
    }
    .event-line-text.bottom-line {
      bottom: 10px;
      left: $mg;
    }
    #events{
      padding: 0px;
      box-sizing: border-box;
    }
    #range {
      width: calc(100% - 40px);
      left: 20px;
    }
  }
}
