@import 'variables';


/****** Main Elements ******/

#welcome-icon {
	height: 100px;
	width: 100px;
	display: block;
	margin: 0 auto;
	padding: 10px 0px;
}

#welcome-text {
	margin: 0 auto;
	width: 80%;
	text-align: center;
	padding-bottom: 20px;
}

#create-poll {
	width: calc(100% - 30px);
	margin: 0 auto;
	margin-bottom: $mg;
	height: 44px;
	line-height: 44px;
	margin-top: $mg;
}

@media (min-width: 1024px) {
	body {
		#create-poll {
			width: 20vw;
			height: 40px;
			margin-top: $dg;
			line-height: 40px;
		}

		#submit-poll{
			position: absolute;
			width: 20vw;
			bottom: 20vh;
			left: 50%;
			margin-left: -10vw;
		}
		#cancel-form{
			line-height: 60px;
			left: calc(50% - 360px);
		}
	}
}



/**** Poll Creator Elements ****/

#cancel-form {
	position: absolute;
	left: 10px;
	color: white;
	height: 44px;
	line-height: 44px;
	cursor: pointer;
}

#poll-creator {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: white;
	z-index: 2;
}

.poll-field {
	width: 100%;
	padding: 10px 0px;
	padding-left: 10px;
	height: 40px;
	box-sizing: border-box;
	border: none;
	border-bottom: 1px solid $light-grey;
	font-size: 16px;
}

#range {
	height: 3px;
	margin: 40px 0px;
	border: none;
	.noUi-background, .noUi-base {
		background: $grey;
	}
	.noUi-connect {
		background: $green;
	}
	.noUi-handle {
		background: $green;
		border: none;
		box-shadow: none;
		height: 40px;
		top: -17px;
		width: 20px;
	}
	.noUi-handle:before, .noUi-handle:after {
		display: none;
	}
}

.shown-values {
	text-align: center;
	width: 100%;
	font-size: 16px;
}


#event-timepicker {
	text-align: center;
	font-size: 16px;
	width: 100%;
	#timepicker-header, #time-range {
		height: 40px;
		line-height: 40px;
	}
	#slider-range {
		height: 3px;
		background: $grey;
		border: none;
		margin: 20px 0px;
	}
}



#submit-poll {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	border: none;
	height: 44px;
	font-size: 16px;
}

#submit-poll:hover {
	border: 1px solid $blue;
}

/******** After Welcome Elements ********/

div.event {
	height: 120px;
	text-align: left;
	cursor: pointer;
	position: relative;
	background: $light-grey;
	box-sizing: border-box;
	padding: $dg;
	margin-bottom: 10px;
}

.event-line-text {
	width: auto;
	line-height: 20px;
}

.event-name {
}

.event-voters {
	position: absolute;
	bottom: $dg;
	right: $dg;
}

.event-line-text.bottom-line {
	position: absolute;
	bottom: $dg;
	width: auto;
	left: $dg;
}

.event-icon {
	height: 15px;
	width: 15px;
}


#event_threshold {
	width: 100%;
	height: 40px;
	border: none;
	background: white;
	font-size: 16px;
	box-sizing: border-box;
	padding-left: 10px;
	color: $grey;
	font-weight: 300;
}

@media (max-width: 1023px) {
	body {
		div.event{
			padding: 10px $mg;
			margin-bottom: 8px;
			height: 100px;
		}
		.event-voters {
			bottom: 10px;
			right: $mg;
		}
		.event-line-text.bottom-line {
			bottom: 10px;
			left: $mg;
		}
		#range {
			width: calc(100% - 40px);
			left: 20px;
			.noUi-handle {
				background: $green;
				border: none;
				box-shadow: none;
				height: 40px;
				top: -17px;
				width: 20px;
			}
		}
		
	}
}
