@import 'variables';

/****** Main Elements ******/

#welcome-icon {
  height: 100px;
  width: 100px;
  display: block;
  margin: 0 auto;
  padding: 40px 0px;
}

#welcome-text {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  padding-bottom: 20px;
}

#create-poll {
	margin-bottom: $mg;
	height: 44px;
	line-height: 44px;
	margin-top: $mg;
	position: static;
}

@media (min-width: 1024px) {
	body {
		#cancel-form{
			line-height: 60px;
			left: calc(50% - 360px);
		}
		#create-poll {
			margin-top: 20px; 
      height: 40px;
      line-height: 40px;
		}
    #create-poll.tutorial {
      width: 300px;
      margin: 0 auto;
    }
	}
}

/******** After Welcome Elements ********/

#events {
  padding: 0px 40px;
  box-sizing: border-box;
}

.event-action {
  margin-left: 20px;
}

div.event {
	height: 120px;
	text-align: left;
	position: relative;
	box-sizing: border-box;
	padding: $dg;
	border-bottom: 1px solid $border-grey;
}

.event-line-text {
  width: auto;
  line-height: 20px;
  max-width: calc(100% - 260px);
  margin-left: 60px;
  font-size: 14px;
}

.event-line-text.event-name {
  font-size: 16px;
}

.event-profile-pic-container {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0;
  top: 30px;
  .event-profile-pic-overlay {
    position: absolute;
    border-radius: 60px;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.4)
  }
  .event-service-icon {
    right: -5px;
    top: 32px;
    height: 24px;
    width: 24px;
  }
  .event-profile-pic {
    position: absolute;
    border-radius: 60px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .event-profile-initials {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 60px;
    height: 100%;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
  }
}

.event-name {
}

.poll-ended {
  margin-left: 20px;
}

.event-voters {
  position: absolute;
  bottom: $dg;
  right: $dg;
}

.event-line-text.bottom-line {
  position: absolute;
  bottom: $dg;
  width: auto;
  left: $dg;
}

.event-results {
  position: absolute;
  right: 120px;
  height: 120px;
  line-height: 120px;
  top: 0px;
}

.event-arrow {
  position: absolute;
  right: 20px;
  top: 45px;
  height: 30px;
}

.event-icon {
  height: 15px;
  width: 15px;
}

.event-service-icon {
  position: absolute;
  right: 70px; 
  top: 46.5px; 
  height: 25px
}

#event_threshold {
  width: 100%;
  height: 40px;
  border: none;
  background: white;
  font-size: 16px;
  box-sizing: border-box;
  padding-left: 10px;
  color: $grey;
  font-weight: 400;
}

@media (max-width: 1023px) {
  body {
    div.event{
      padding: 10px $mg;
      margin-bottom: 8px;
      height: 100px;
    }
    .event-action {
      margin-left: 5px;
    }
    .event-profile-pic-container {
      top: 20px;
      left: 10px;
      height: 50px;
      width: 50px;
      top: 25px;
      .event-profile-initials {
        line-height: 50px;
      }
    }
    
    .event-arrow{
      right: 15px;
      top: 33px;
    }
    .event-service-icon {
      top: 36px;
      right: 60px;
    }
    .event-voters {
      bottom: 10px;
      right: $mg;
    }
    .event-line-text {
      max-width: calc(100% - 100px);
      margin-left: 55px;
      font-size: 14px;
    }
    .event-line-text.event-name {
      font-size: 16px;
    }
    #create-poll {
      position: fixed;
      bottom: 0;
      margin: 0;
    }
    .event-line-text.bottom-line {
      bottom: 10px;
      left: $mg;
    }
    #events{
      padding: 0px;
      box-sizing: border-box;
    }
    #range {
      width: calc(100% - 40px);
      left: 20px;
    }
  }
}
