@import 'variables';

div.event-field {
  padding: 15px;
  text-align: center;
  box-sizing: border-box;
}

.event-field-header {
	color: $blue;
	text-align: center;
	height: 30px;
	line-height: 30px;
	width: 100%;
	font-weight: 700;
}

#event-name {
  font-weight: 700;
  text-align: center;
  font-size: 32px;
  color: $dark-grey;
  background: white;
  padding-top: 40px;
  border-bottom: 1px solid #ebebeb;
  margin: 0px 40px;
  padding-left: 0px;
  padding-right: 0px;
  width: calc(100% - 80px);
}

#event-comment {
  font-size: 16px;
  color: $black;
  text-align: center;
}

#invitee-list.event-field {
  text-align: center;
}
.invitee-pic {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

#event-options {
	border-radius: 10px;
  width: calc(100% - 40px);
  padding: 10px 20px;
  box-sizing: border-box;
  margin: 0 auto;
  background: $light-grey;
}

.event-option {
	height: 60px;
	width: 100%;
	padding: 10px 0;
	text-align: center;
	position: relative;
}


#event-options {
	.option-pic {
		height: 60px;
		width: 60px;
		position: absolute;
		left: 120px;
	}
	.option-title {
		width: 100%;
		height: 100%;
		margin: 0;
		line-height: 60px;
    font-weight: 400;
	}
}

#invitee-list {
  .profile-tooltip {
    left: -50px;
  }
  .tail {
    left: 10px;
  }
}
.event-show.option-pic {
  height: 40px;
  width: 40px;
  margin: 0px;
}

#poll-status {
	font-size: 16px;
}

.poll-url {
  text-align: center;
  margin: 20px 0px;
  font-size: 16px;
  word-break: break-all;
}

/******** Activation Modal *******/

.black-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  z-index: 3;
}

.activation-modal {
  width: calc(100% - 40px);
  max-width: 720px;
  border-radius: 5px;
  z-index: 3;
  margin: 0 auto;
  margin-top: 30vh;
  background: white;
}

.activation-message {
  padding: 20px 0px;
  font-size: 32px;
  font-weight: 600;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.activation-action.btn {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-radius: 0px;
}

.send-link {
  font-size: 14px;
}

#polling-link {
  padding: 20px;
  border: 3px solid red;
}

@media (max-width: 1023px) {
  body {
    #event-options{
      width: calc(100% - 30px);
      margin: $mg auto;
      .event-option {
        text-align: right;
      }
      .option-pic {
        left: 0px;
      }
    }
    #poll-status{
      margin-bottom: 10px;
      bottom: 0;
      z-index: 40;
      width: 100%;
    }
    #back-to-dashboard {
      width: 100%;
    }
    .poll-url {
      width: calc(100% - 40px);
      margin: 20px auto;
    }
  }
}

@media (min-width: 1024px) {
	body {
		#event-options {
      padding-bottom: 20px;
      .option-pic {
        display: inline-block;
      }
		}
		.poll-url {
			width: 70%;
			margin-left: 15%;
		}

	}


}
