@import 'variables';

div.event-field {
	padding: 10px 0px;
	text-align: left;
	padding-left: 5px;
	box-sizing: border-box;
}

#event-name {
	font-weight: 700;
	text-align: center;
	font-size: 32px;
	color: white;
	background: $green;
}

#event-comment {
	font-size: 14px;
	color: $black;
	text-align: left;
}

#invitee-list.event-field {
	text-align: center;
}
.invitee-pic {
	width: 40px;
	height: 40px;
	margin-right: 10px;
}

#event-options {
	background: $light-grey;
	border-radius: 10px;
	width: calc(100% - 40px);
	margin: 20px auto;
	padding: 0px; 
}

.event-option {
	height: 80px;
	width: 100%;
}

#event-options {
	.option-pic {
		border-radius: 100px;
		height: 60px;
		width: 60px;
	}
}

#invitee-list {
	.profile-tooltip {
		left: -50px;
	}
	.tail {
		left: 10px;
	}
}
.event-show.option-pic {
	height: 40px;
	width: 40px;
	margin: 10px;
	margin-left: 5px;
}

#poll-status {
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	box-sizing: border-box;
	font-weight: 600;
}

/******** Activation Modal *******/

.black-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: black;
	z-index: 3;
}

.activation-modal {
	width: calc(100% - 40px);
	max-width: 720px;
	border-radius: 5px;
	z-index: 3;
	margin: 0 auto;
	margin-top: 30vh;
	background: white;
}

.activation-message {
	padding: 20px 0px;
	font-size: 32px;
	font-weight: 600;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.activation-action.btn {
	width: 100%;
	height: 40px;
	line-height: 40px;
	border-radius: 0px;
}



#return-home {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
