@import 'variables';

div.event-field {
	padding: 10px 0px;
	text-align: left;
	padding-left: 5px;
	box-sizing: border-box;
}

#event-name {
	font-weight: 600;
	text-align: center;
}

.invitee-pic {
	width: 40px;
	height: 40px;
	margin-right: 10px;
}

.event-option {
	height: 60px;
	width: 100%;

}

.event-show.option-pic {
	height: 40px;
	width: 40px;
	margin: 10px;
	margin-left: 5px;
}

#poll-status {
	width: 100%;
	background: $turq;
	color: white;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	box-sizing: border-box;
	font-weight: 600;
}

#poll-status:hover {
	border: 1px solid $turq;
	background: white;
	color: $turq;
}


/******** Activation Modal *******/

.black-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: black;
	z-index: 2;
}

.activation-modal {
	width: 720px;
	max-width: 960px;
	border-radius: 5px;
	z-index: 3;
	margin: 0 auto;
	margin-top: 30vh;
}

.activation-message {
	padding: 20px 0px;
	font-size: 32px;
	font-weight: 600;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.activation-action.btn {
	width: 100%;
	height: 40px;
	background: white;
	color: $black;
	line-height: 40px;
	border-radius: 0px;
}

#take-poll.activation-action {
	color: white;
	background: $turq;
}

#return-home {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
