@import 'variables';


@import 'variables';

// <--------extensions------->

.gradient{
	background: -moz-linear-gradient(top,  rgba(0,102,76,0.8) 0%, rgba(0,70,145,0.9) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,102,76,0.8)), color-stop(100%,rgba(0,70,145,0.9))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,102,76,0.8) 0%,rgba(0,70,145,0.9) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,102,76,0.8) 0%,rgba(0,70,145,0.9) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,102,76,0.8) 0%,rgba(0,70,145,0.9) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,102,76,0.8) 0%,rgba(0,70,145,0.9) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc00664c', endColorstr='#e6004691',GradientType=0 ); /* IE6-9 */
}

.blur{
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

// <--------background------->

.blur-container{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: absolute;
}

.blur-image{
	background: url("blurbg.jpg") no-repeat center;
	background-size: cover;
	width:102%;
	height: 102%;
	@extend .blur;
	position: fixed;
	left: -10px;
	top: -10px;
	z-index:1;

}
.glass{
	background-color: rgba(0,0,0,0.50);
	height: 100vh;
	width: 100vw;
	z-index: 2;
	position: fixed;
}

/********* Header ********/

#landing-header{
	height: 80px;
	width: 960px;
	left: calc(50% - 480px);
	background-color: rgba(255,255,255, 0.85);
	position: fixed;
	z-index: 4;
}

#landing-logo {
	position: fixed;
	z-index: 4;
	height: 60px;
	left: calc(50% - 440px);
	top: 10px;
	width: 240px;
}

.header-link {
	height: 100%;
	float: right;
	width: 200px;
	line-height: 80px;
	text-align: center;
	color: $turq;
	font-size: 24px;
	cursor: pointer;
}

.header-link.active {
	color: $black;
}


/********  Mid Content **********/
#mid-container{
	width: 960px;
	height: 100%;
	position: absolute;
	left: calc(50% - 480px);
	top: 0;
}

#fade-2 {
	opacity: 0;
}

.mid-section {
	display: inline-block;
	width: 100%;
	height: 100%;
	position: relative;
	color: white;
	text-align: center;
	z-index: 3;
}

.mid-section .title-text {
	position: absolute;
	font-size: 48px;
	font-weight: 700;
	width: 100%;
	text-align: center;
	top: 45vh;
}

.mid-sub-text {
	position: absolute;
	font-size: 24px;
	font-weight: 500;
	width: calc(100% - 200px);
	left: 100px;
	top: 60vh;
}

.container-gradient{
	@extend .gradient;
	width: 100%;
	height: 200%;
	z-index: 2;
	position: absolute;
	top: 0;

}

.title-text{
	z-index: 2;
	vertical-align: center;
}

/************  Showcase Content *************/


#showcase-container {
	position: absolute;
	top: 200%;
	width: 960px;
	left: calc(50% - 480px);
	background-size: cover;
	z-index: 3;
	height: 200%;
	background: white;
}

#showcase-container {
	.mid-section {
		height: 100vh;
		background: image-url('waffleweave.png');
	}
}

.showcase-title-text {
	width: 100%;
	text-align: center;
	font-size: 48px;
	font-weight: 700;
	top: 30vh;
	position: absolute;
}

.showcase-subtext {
	width: 500px;
	left: calc(50% - 250px);
	text-align: center;
	font-size: 30px;
	top: 45vh;
	color: $black;
	position: absolute;
}

#phone-info {
	position: absolute;
	left: 40px;
	top: 30vh;
	width: 250px;
	text-align: left;
}

#phone-info-header {
	margin-left: 20px;
	font-weight: 700;
	font-size: 30px;
	padding: 20px 0px;
}

.phone-info-item {
	padding:	20px 0px; 
	cursor: pointer;
}

.phone-info-item.active {
	background: $green;
	color: white;
	.info-item-desc {
		display: block;
		color: white;
		margin-left: 20px;
	}
	.info-item-name {
		color: white;
	}
}

.phone-info-item:hover {
	background: $green;
	color: white;
	div {
		color: white;
	}
}

.info-item-name {
	font-size: 30px;
	color: $grey;
	margin-left: 20px;
}

.info-item-desc {
	color: white;
	margin-left: 20px;
	font-size: 16px;
	margin: 10px 0px;
}

#iphone-1 {
	width: 300px;
	height: 600px;
	position: absolute;
	left: calc(50% - 150px);
	top: 20vh;
}

#phone-side-text {
	position: absolute;
	right: 40px;
	top: 40vh;
	width: 250px;
	text-align: left; 
	font-size: 24px;
}


#get-started-button {
	width: 250px;
	height: 80px;
	line-height: 80px;
	font-weight: 700;
	font-size: 30px;
	position: absolute;
	left: 40px;
	bottom: 80px;
}


/***********  Media Queries   *****************/

@media (max-width: 1023px) {
	body {
		#landing-header {
			width: 100%;
			left: 0;
		}
		#landing-logo {
			left: calc(50% - 120px);
		}
		#showcase-container, #mid-container {
			width: 100%;
			left: 0;
			right: 0;
		}	
		.showcase-title-text {
			top: 25vh;
		}
		.showcase-subtext {
			width: 100%;
			left: 0;
			top: 50vh;
		}
		.blur-image {
			width: 100vw;
			height: 100vh;
			top: 0;
			left: 0;
			right: 0;
		}
		#fade-2 .title-text {
			top: 20vh;
		}
		.mid-sub-text {
			width: calc(100% - 40px);
			left: 20px;
		} 
		#showcase-container .mid-section.last {
			height: 260vh;
		}
		#phone-info {
			top: 750px;
		}
		.showcase-title-text, .title-text, .showcase-subtext {
			width: calc(100% - 20px);
			left: 10px;
		}
	}
}



