@import 'variables';

@media (min-width: 1024px) {
	body .landing .landing-text {
		position: fixed;
		top: 40vh;
		text-align: center;
		width: 100%;
		font-size: 64px;
	}
	body .landing .fb-btn {
		width: 20vw;
		left: 50%;
		margin-left: -10vw;
		bottom: 40vh;
		margin-bottom: -22px;
		background: rgba(29, 207, 172, 0.85);
	}

}


.landing {
	.landing-text {
		color: white;
		text-align: center;
		font-weight: 600;
		font-size: 32px;
	}
	.fb-btn {
		background: rgba(29,207,172,0.7);
		position: fixed;
		width: 100%;
		bottom: 0;
		height: 44px;
		line-height: 44px;
		font-size: 16px;
		font-weight: 600;
	}
}
