@import 'variables';


@import 'variables';

// <--------extensions------->

.gradient{
	background: -moz-linear-gradient(top,  rgba(0,102,76,0.8) 0%, rgba(0,70,145,0.9) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,102,76,0.8)), color-stop(100%,rgba(0,70,145,0.9))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,102,76,0.8) 0%,rgba(0,70,145,0.9) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,102,76,0.8) 0%,rgba(0,70,145,0.9) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,102,76,0.8) 0%,rgba(0,70,145,0.9) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,102,76,0.8) 0%,rgba(0,70,145,0.9) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc00664c', endColorstr='#e6004691',GradientType=0 ); /* IE6-9 */
}

.blur{
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

// <--------background------->

.blur-container{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: absolute;
}

.blur-image{
	background: url("blurbg.jpg") no-repeat center;
	background-size: cover;
	width:102%;
	height: 102%;
	// @extend .blur;
	position: fixed;
	left: -10px;
	top: -10px;
	z-index:1;

}
.glass{
	background-color: rgba(0,0,0,0.50);
	height: 100vh;
	width: 100vw;
	z-index: 2;
	position: fixed;
}

/********* Header ********/

#landing-header{
	height: 80px;
	width: 100%;
	left: 0;
	position: fixed;
	z-index: 4;
}

#landing-logo {
	position: fixed;
	z-index: 4;
	height: 60px;
	left: 40px;
	top: 10px;
	width: 240px;
}

.header-link {
	height: 60px;
	float: right;
	line-height: 60px;
	text-align: center;
	color: white;
	font-size: 24px;
	cursor: pointer;
	font-weight: 700;
	padding: 0px 20px;
	margin: 10px 40px;
}

.header-link:hover {
	color: $black;
	background: white;
}


/********  Mid Content **********/
#mid-container{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

#fade-2 {
	opacity: 0;
}

.mid-section {
	display: inline-block;
	width: 100%;
	height: 100%;
	position: relative;
	color: white;
	text-align: center;
	z-index: 3;
}

.mid-section .title-text {
	position: absolute;
	font-size: 48px;
	font-weight: 700;
	width: 100%;
	text-align: center;
	top: 40vh;
}

.showcase-subtext {
	width: 500px;
	left: calc(50% - 250px);
	text-align: center;
	font-size: 30px;
	top: 50vh;
	color: white;
	position: absolute;
}


.container-gradient{
	@extend .gradient;
	width: 100%;
	height: 200%;
	z-index: 2;
	position: absolute;
	top: 0;

}

.title-text{
	z-index: 2;
	vertical-align: center;
}

#section-footer {
	position: absolute;
	bottom: 0;
	height: 80px;
	line-height: 80px;
	text-align: center;
	color: $green;
	width: 100%;
	background: white;
	border-bottom: 1px solid $grey;
	font-size: 24px;
}

/************  Showcase Content *************/


#showcase-container {
	position: absolute;
	top: 100%;
	width: 100%;
	left: 0;
	background-size: cover;
	z-index: 3;
	height: 100%;
	background: white;
}

#showcase-container {
	.mid-section {
		height: 100vh;
		background: image-url('waffleweave.png');
	}
}

#phone-info {
	position: absolute;
	right: 0px;
	top: 20vh;
	width: 50%;
	text-align: left;
}


.phone-info-item {
	padding:	20px 0px;
	padding-left: 60px; 
	cursor: pointer;
}

.info-item-name {
	font-size: 30px;
	color: $turq;
	font-weight: 700;
}

.info-item-desc {
	color: $black;
	font-size: 16px;
	margin: 20px 0px;
}

#iphone-1 {
	width: 250px;
	height: 500px;
	position: absolute;
	right: calc(50% + 60px);
	top: 10vh;
}

#phone-side-text {
	position: absolute;
	right: 40px;
	top: 40vh;
	width: 250px;
	text-align: left; 
	font-size: 24px;
}

#sit-back {
	width: 100%;
	position: absolute;
	text-align: center;
	color: $black;
	font-weight: 700;
	font-size: 30px;
	bottom: 20vh;
}


#get-started-button {
	width: 500px;
	left: calc(50% - 250px);
	height: 80px;
	line-height: 80px;
	font-weight: 700;
	font-size: 24px;
	position: absolute;
	bottom: 40px;
}


/***********  Media Queries   *****************/

@media (max-width: 320px) {
	body {
		div#landing-header {
			width: 320px;
		}
	}
}

@media (max-width: 1023px) {
	body {
		#landing-header {
			width: 100%;
			left: 0;
		}
		#section-footer {
			height: 40px;
			line-height: 40px;
		}
		#landing-logo {
			left: calc(50% - 120px);
			height: 40px;
		}
		.mid-section {
			.title-text {
				top: 25vh;
				left: 0;
			}	
		}
		#iphone-1 {
			float: left;
			margin: 40px 0px;
			margin-left: calc(50% - 125px);
			position: static;
			clear: left;
		}
		
		#showcase-container, #mid-container {
			width: 100%;
			left: 0;
			right: 0;
		}	
		.showcase-title-text {
			top: 25vh;
		}
		.showcase-subtext {
			width: 100%;
			left: 0;
			top: 50vh;
		}
		.blur-image {
			width: 100vw;
			height: 100vh;
			top: 0;
			left: 0;
			right: 0;
		}
		#fade-2 .title-text {
			top: 20vh;
		}
		.mid-sub-text {
			width: calc(100% - 40px);
			left: 20px;
		} 
		#showcase-container .mid-section.last {
			height: auto;
		}
		#phone-info {
			position: static;
			width: calc(100% - 40px);
			text-align: center;
			clear: left;
		}
		#sit-back {
			position: static;
			width: calc(100% - 40px);
			margin: 40px 20px;
		}
		#get-started-button {
			width: 100%;
			position: static;
			font-size: 16px;
		}
		.showcase-title-text, .title-text, .showcase-subtext {
			width: calc(100% - 20px);
			left: 10px;
		}
	}
}



