@import 'variables';

#invite-email {
	width: 100%;
	border: none;
	text-align: center;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
}

#add-email-btn {
	height: 40px;
	line-height: 40px;
	width: 100%;
	font-weight: 600;
	border-radius: 0px;
	box-sizing: border-box;
}

#invitees-container {
	text-align: left;
}

#contacts-container {
	text-align: left;
}

.grey-header.full-grey-block, .invitee {
	box-sizing: border-box;
	padding-left: 15px;
	width: 100%;
	text-align: left;
	height: 40px;
	line-height: 40px;
	background: $light-grey;
	border-bottom: 1px solid white;
}

.submit-emails {
	position: fixed;
	width: 100%;
	bottom: 0;
	height: 40px;
	line-height: 40px;
}



@media (min-width: 1024px) {
	#add-email-btn:hover {
		line-height: 38px;
	}
	#add-email-btn {
		margin: 0 auto;
		border-radius: none;
	}
	.submit-emails {
		position: absolute;
		width: 20vw;
		bottom: 20vh;
		left: 50%;
		margin-left: -10vw;
	}
	#invite-email{
		height: 40px;
	}
	.invitee{
		height: 40px;
		line-height: 40px;
		padding-left: 20px;
	}
	#invitees-container{
		margin-top: 0;
	}
}
