@import 'variables';

/**** Event Creator Elements ****/

#cancel-form {
  position: absolute;
  left: 10px;
  color: white;
  height: 44px;
  line-height: 44px;
  cursor: pointer;
}

#poll-creator {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 2;
}

.poll-field {
  width: 100%;
  padding: 10px 0px;
  padding-left: 10px;
  height: 40px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid $light-grey;
  font-size: 16px;
}

#range {
  height: 3px;
  margin: 40px 0px;
  border: none;
  .noUi-background, .noUi-base {
    background: $grey;
  }
  .noUi-connect {
    background: $green;
  }
  .noUi-handle {
    background: $green;
    border: none;
    box-shadow: none;
    height: 40px;
    top: -17px;
    width: 20px;
  }
  .noUi-handle:before, .noUi-handle:after {
    display: none;
  }
}

.shown-values {
  text-align: center;
  width: 100%;
  font-size: 16px;
}

#event-timepicker {
  text-align: center;
  font-size: 16px;
  width: 100%;
  #timepicker-header, #time-range {
    height: 40px;
    line-height: 40px;
  }
  #slider-range {
    height: 3px;
    background: $grey;
    border: none;
    margin: 20px 0px;
  }
}

#submit-poll {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border: none;
  height: 44px;
  font-size: 16px;
}

#submit-poll:hover {
  border: 1px solid $blue;
}


/********* Tutorial Overlays ************/

.tutorial-overlay-container {
  position: absolute;
  z-index: 4;
  width: 100%;
  top: 0;
}

.blocker {
  background: $green;
  position: absolute;
  width: 100%;
  color: white;
}

.tut-blocker-top {
  top: 0;
}
.tut-blocker-bottom {
  bottom: 0;
}

.blocker-text {
  width: 220px;
  position: absolute;
  font-size: 24px;
}

#tut-right {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1;
}

#tut-left {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 1;
}

.tut-1.tut-blocker-top {
  height: 40px;
  top: 0;
}

.tut-1.tut-blocker-bottom {
  height: calc(100% - 80px);
  .blocker-text {
    left: 120px;
    top: 40px;
  }
  #tut-up {
    width: 60px;
    height: 90px;
    left: 20px;
    top: 20px;
    position: absolute;
  }
}

.tut-2.tut-blocker-top {
  height: 120px;
  .blocker-text {
    bottom: 20px;
    right: 100px;
  }
  #tut-down {
    width: 60px;
    height: 90px;
    bottom: 20px;
    right: 20px;
    position: absolute;
  }
}

.tut-2.tut-blocker-bottom {
  height: calc(100% - 230px);
}


/********** Media Query  **********/


@media (max-width: 1023px) {
  body {
    .blocker-text {
      width: 200px;
    }
  }

}
