@import 'variables';

/**** Event Creator Elements ****/

#cancel-form {
  position: absolute;
  left: 10px;
  color: white;
  height: 44px;
  line-height: 44px;
  cursor: pointer;
}

#poll-creator {
  width: 100%;
  min-height: 100%;
  background: white;
  z-index: 2;
  #new_event > * {


  }
  #new_event {
    #event_threshold {
      color: $grey;
    }
  }
}

.range-placeholder {
  margin: 20px 0px;
}

.poll-field {
	width: 100%;
	padding: 10px 0px;
	padding-left: 10px;
	height: 40px;
	box-sizing: border-box;
	border: none;
	border-bottom: 1px solid #EBEBEB;
	font-size: 16px;
	font-weight: 400;
}

div.poll-field {
  line-height: 40px;
}

#range, #range div {
  transition: all 0s ease-in-out 0s;
}

#range {
  height: 1px;
  margin: 40px 0px;
  border: none;
  .noUi-background, .noUi-base {
  }
  .noUi-connect {
    background: $green;
  }
  .noUi-handle {
    background: $green;
    border: none;
    box-shadow: none;
    height: 40px;
    top: -20px;
    width: 20px;
    border-radius: 0px;
  }
  .noUi-handle:before, .noUi-handle:after {
    display: none;
  }
}

.shown-values {
	text-align: center;
	width: 100%;
	font-size: 16px;
	margin: 20px 0px;
}

#event-timepicker {
  text-align: center;
  font-size: 16px;
  width: 100%;
  #timepicker-header, #time-range {
    height: 40px;
    line-height: 40px;
  }
  #slider-range {
    height: 3px;
    background: $grey;
    border: none;
    margin: 20px 0px;
  }
}

#submit-poll:hover {
  border: 1px solid $blue;
}


/********* Tutorial Overlays ************/

.tutorial-overlay-container {
  position: absolute;
  z-index: 4;
  width: 100%;
  top: 0;
  left: 0;
}

.blocker {
  background: $green;
  position: absolute;
  width: 100%;
  color: white;
  left: 0;
}

.tut-blocker-top {
  top: 0;
}
.tut-blocker-bottom {
  bottom: 0;
}

.blocker-text {
  width: 220px;
  position: absolute;
  font-size: 20px;
  line-height: 1.3;
}

#tut-right {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 10px;
  right: 20px;
  cursor: pointer;
  z-index: 1;
}

#tut-left {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 10px;
  left: 20px;
  cursor: pointer;
  z-index: 1;
}

.tut-1.tut-blocker-top {
  height: 60px;
  top: 0;
}

.tut-1.tut-blocker-bottom {
  height: calc(100% - 120px);
  .blocker-text {
    left: 120px;
    top: 40px;
  }
  #tut-up {
    width: 60px;
    height: 90px;
    left: 20px;
    top: 20px;
    position: absolute;
  }
  #tut-right: 10px;
}

.tut-2.tut-blocker-top {
  height: 180px;
  .blocker-text {
    bottom: 20px;
    right: 100px;
  }
  #tut-down {
    width: 60px;
    height: 90px;
    bottom: 20px;
    right: 20px;
    position: absolute;
  }
  #tut-right {
    bottom: 10px;
  }
}

.tut-2.tut-blocker-bottom {
  height: calc(100% - 340px);
}


/********** Media Query  **********/


@media (max-width: 1023px) {
	body {
    .tut-1.tut-blocker-top {
      height: 45px;
    }
    .tut-1.tut-blocker-bottom {
      height: calc(100% - 83px);
    }
    .tut-1.tut-blocker-botom {
      height: calc(100% - 300px);
    }
		.blocker-text {
			width: 200px;
		}
    #event_start_date {
      border-top: 1px solid $border-grey;
    }
    #new_event {
      input, select {
        padding-left: 0px;
      }
    }
    .noUi-handle {
      top: -20px;
    }
    div.poll-field {
      line-height: 20px;
    }

	}
}

@media (min-width: 1024px) {
  	body {
      #poll-creator {
        width: 100%;
        min-height: 100%;
        background: white;
        z-index: 2;
        #new_event > .poll-field, #event_threshold {
          box-sizing: content-box;
          width: calc(100% - 80px);
          padding: 0px;
          margin: 0 40px;
        }
        #new_event {
          #event_threshold {
            margin-left: 30px;
            border-radius: 0px;
          }
          #event_name {
            background: $light-grey;
            font-weight: 700;
            color: $dark-grey;
          }
          .bottom-btn-container {
            margin: 0px;
            padding: 0px;
          }
        }
      }
		.poll-field {
			height: 60px;
			text-align: left;
			font-size: 16px;
      padding-left: 0px;
		}
		 #event_threshold {
			 	width: 100%;
				font-size: 16px;
				height: 60px;
				font-weight: 400;
        text-indent: 10px;
        padding-left: 30px;
        font-family: 'Avenir Next';
		 }
		 #event_start_date {
		 	border-top: 1px solid $border-grey;
		 }
		 #poll-creator #range {
		 	width: 50%;
		 	left: 25%;
		 	position: relative;
      padding: 0px;
		 }
		 #start-border, #end-border {
		 	position: absolute;
		 	right: 0px;
		 	height: 40px;
		 	width: 1px;
		 	background: $grey;
		 	top: -20px;
		 }
		 #end-border {
		 	right: 100%;
		 }
		 .shown-values {
		 	font-size: 24px;
      font-weight: 700;
      color: $dark-grey;
		 }
		 .range-placeholder {
		 	width: 100%;
		 	text-align: center;
		 	font-size: 16px;
		 	color: $grey;
		 	margin: 20px 0px;
		 	display: block;
		 }
	}
}
