@import 'variables';

.service-tabs {
	width: 100%;
	height: 40px;
	margin:  0 auto;
}

.service-tab {
	width: 50%;
	background: #d3d3d3;
	color: $grey;
	text-align: center;
	box-sizing: border-box;
	float: left;
	height: 100%;
	line-height: 40px;
	cursor: pointer;
}


.service-tab.active{
	background: white;
	color: $green;
}

.service-tab:hover{
	background: white;
}

/*************** Searching *****************/

#service-search-container {
  width: 100%;
  position: relative;
}
#service-search-container input {
  font-size: 16px;
  padding: 0px;
	font-weight: 400;
	background: $light-grey;
}

#service-search-form {
  background: $light-grey;
  input {
    width: calc(100% - 80px);
    margin: 0px 40px;
    background: $light-grey;
    border-top: 0px;
    border-bottom: 1px solid $border-grey;
  }
}

.search-arrow {
  display: none;
}

.service-search-field {
  width: 100%;
  text-align: center;
  height: 40px;
  border: none;
  border-top: 1px solid #ebebeb;
}
#submit-service-search {
  height: 44px;
  width: 100%;
  line-height: 40px;
  border: none;
}

/******* browsing options *******/

.option {
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  height: 100px;
  text-align: left;
  position: relative;
  cursor: pointer;
	padding: 10px;
	box-sizing: border-box;
}

body div.option-overlay {
  background: rgba(29, 207, 172, .7);
  height: 100%;
  width: 100%;
  position: absolute;
  display: none;
	top: 0;
	left: 0;
}

.option.selected {
  .option-check, .option-overlay {
    display: block;
  }
  .option-check.unselected {
    display: none;
  }
}

.option-check {
  height: 20px;
  width: 20px;
  top: 40px;
  display: none;
  position: absolute;
  right: 20px;
}

.option-check.unselected {
  display: block;
}

.option-check {
  height: 20px;
  width: 20px;
  top: 40px;
}

.star-container {
  width: 120px;
  height: 15px;
  .star {
    margin-right: 1px;
    height: 15px;
    width: 15px;
  }
}

.option-price {
  margin-left: -5px;
}

.option div {
  display: inline;
}

.option div.hidden {
  display: none;
}

.option-title, .option-info {
  float: left;
  width: calc(100% - 120px);
  margin-left: 10px;
}

.option-price, .star-container {
	margin-top: 10px;
	margin-left: 10px;
	float: left;
	color: $green;
	font-weight: 600;
}

.option-title {
  margin-top: 8px;
  margin-bottom: 10px;
}

.option-result{
  margin-top: 20px;
}

.option-pic {
  height: 80px;
  width: 80px;
  box-sizing: border-box;
  float: left;
}

@media (min-width: 1024px) {
	.option-info {
		margin-left: 20px;
	}
	.option-price, .star-container {
		margin-left: 20px;
	}
	.option-check {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 30px;
    right: 20px;
    display: none;
  }
  .service-tabs {
		height: 60px;
		margin: 0;
		width: 100%;
	}
	.service-options {
		max-height: calc(100vh - 400px);
		overflow-y: scroll;
		padding: 0 40px;
		box-sizing: border-box;
	}

	.service-header{
		height: 60px;
	}

	.service-tab {
		line-height: 60px;
	}
	.service-search-field {
		height: 60px;
		font-size: 24px;
	}
	#service-search-container {
		box-sizing: border-box;
	}
  .option-check.unselected {
    display: inline-block;
  }
  .search-arrow {
    display: block;
    position: absolute;
    right : 40px;
    height: 20px;
    width: 20px;
    top: 22px;
    cursor: pointer;
  }
  .search-arrow.name-search {
    top: 82px;

  }
	.option{
		padding: 20px;
		box-sizing: border-box;
	}
	.option-pic{
		height: 60px;
		width: 60px;
	}
	.option-title{
		margin-top: 0px;
		margin-left: 20px;
	}
}
